* {
  background-color: black;
  color: white;
}
h1 {
  font-size: medium;
}
.calculator {
  width: 30vw;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #ccc;
  height: 40vw;
  padding: 10px;
}
.ac{
    background-color: red;
}
.keys {
  width: 30vw;
  background-color: rgb(115, 115, 115);
}
.keys button {
  border-radius: 30%;
  border-color: azure;
  padding: 1px;
  width: 5vw;
  font-size: 2vw;
}

.start {
  background-color: rgb(115, 115, 115);
  display: flex;
  justify-content: space-between;
  margin-bottom: 1px;
  width: 15vw;
}
.op-num {
  background-color: rgb(115, 115, 115);
  margin: 1vw;
  height: 18vw;
  display: flex;
  justify-content: space-between;
}
.operators {
  background-color: rgb(115, 115, 115);
  position: relative;
  flex-direction: column;
  flex-direction: row;
  top: -4vw;
  width: 6vw;
}
.numbers {
  background-color: rgb(115, 115, 115);
  width: 20vw;
}
#input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  height: 5vw;
}

#input input[type="text"] {
  width: 100%;
  height: 5vw;
  height: 30px;
  border: none;
  font-size: 20px;
  text-align: right;
}
